* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  border: 1px solid;
  flex-wrap: wrap;
  margin: auto;
  box-shadow: 0px 10px 10px grey;
  height: 650px;
  width: 400px;
}
.center-text{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.screen {
  overflow: hidden;
  margin-bottom: 10px;
  font-size: 50px;
  height: 100px;
  background-color: antiquewhite;
}

.number-board{
  float: left;
  width: 300px;
}
.operation-board{
  float: left;
  width: 100px;
}

.button{
  background-color: white;
  font-size: 45px;
  width: 90px;
  flex-wrap: wrap;
  height: 90px;
  margin: 5px;
  float: left;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 1px 0px 10px grey;
}

.button:hover{
  transition: linear 0.5s ;
  background-color: black;
  color: white;
  border-radius: 20px;
}

.number-button:active{
  background-color: bisque;
  transition: 0.05s;
}
